name: Deploy the frontend
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.web
          build-args: DATABASE_URL=${{ secrets.DATABASE_URL }}
          push: true
          tags: ramanupadhyay1/turbo-test-web:${{github.sha}}

      - name: Push to VM
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" &> ~/ssh_key
          chmod 700 /home/runner/ssh_key
          ssh -o StrictHostKeychecking=no -i /home/runner/ssh_key ubuntu@13.204.64.117 -t "docker stop user_backend && docker run --name user_backend -d -p 3002:3002 ramanupadhyay1/turbo-test-backend:${{ github.sha }}"
